$current-color: #01579B;
$completed-color: #0277BD;
$future-color: #212121;

.grid-status .md-cell {
  text-align: center;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 10px;
}

.ticket-status-cell-current {
  background-color: $current-color;
}
.ticket-status-cell-completed {
  background-color: $completed-color;
}
.ticket-status-cell-future {
  background-color: $future-color;
}