.grid-status .md-cell {
  text-align: center;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 10px; }

.ticket-status-cell-current {
  background-color: #01579B; }

.ticket-status-cell-completed {
  background-color: #0277BD; }

.ticket-status-cell-future {
  background-color: #212121; }
