@import '../../app.scss';

.badge {
  display: inline-block;
  padding: .25em .6em;
  font-size: 75%;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  font-weight: 700;
  line-height: 1.5;
  background-color: $md-teal-500;
  color: #ffffff;
}

.badge-primary {
  background-color: $md-primary-color;
}

.badge-danger {
  background-color: $md-red-500;
}