@import 'react-md/src/scss/react-md';

$md-light-theme: true; // optional for light theme
$md-primary-color: $md-light-blue-500;
$md-secondary-color: $md-deep-orange-a-400;

.md-drawer--mini {
  // When you use a React component for a nav item, it won't update the styles automatically
  // yet.. So hide the content and add padding to center the icon.
  .md-tile-content {
    display: none;
  }

  .md-list-tile--icon {
    @media #{$md-mobile-media} {
      padding-left: $md-drawer-mobile-mini-item-padding;
      padding-right: $md-drawer-mobile-mini-item-padding;
    }

    @media #{$md-desktop-media} {
      padding-left: $md-drawer-desktop-mini-item-padding;
      padding-right: $md-drawer-desktop-mini-item-padding;
    }
  }
}

@include react-md-everything;

body {
  margin: 0;
}

html {
  width: 100%;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


.md-card {
  border-radius: 5px;
}

.md-card-title--primary {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.md-btn--text {
  text-align: center;
}

.loading-bar {
  height: 3px; 
  position: absolute;
  background-color: $md-deep-orange-a-400;
  z-index: 100
}

.align-right {
  text-align: right;
}

.ticket-comment .md-text {
  height: auto !important;
}

.ticket-comment .md-text--secondary {
  min-height: 40px;
  height: auto !important;
}

.card-ticket-dashboard {
  margin-bottom: 10px;
}

.card-ticket-dashboard h2 {
  font-size: 16px;
}

.card-ticket-dashboard .md-dialog-footer--card {
  padding: 0;
}